PromotionalCompanyApp/MarketingLead.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/A1S/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:tns="http://sap.com/xi/A1S/Global" xmlns:n1="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:n2="http://sap.com/xi/SAPGlobal20/Global" xmlns:n3="http://sap.com/xi/AP/Common/Global" xmlns:n4="http://sap.com/xi/AP/Common/GDT" xmlns:n5="http://sap.com/xi/BASIS/Global" xmlns:n6="http://sap.com/xi/DocumentServices/Global" xmlns:n7="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:n8="http://sap.com/xi/Common/DataTypes" xmlns:n9="http://sap.com/xi/AP/CRM/Global">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/AP/CustomerExtension/BYD/A0014">
			<xsd:import namespace="http://sap.com/xi/AP/Extensibility/GeneratedObjects"/>
			<xsd:group name="Ext00163E05AE661EE390BEDBF42B6EFA15">
				<xsd:sequence>
					<xsd:element name="EXTScore00163E04B6021EE2B4B0F30EF922D4F7" minOccurs="0" form="qualified" type="xi8:Ext00163E05AE661EE390BEDBF42B6D9A15"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E05AE661EE390BEDBF42B6EFA15"/>
			<xsd:group name="Ext00163E0664D31EE3A1F5AFA6F7B51C62">
				<xsd:sequence>
					<xsd:element name="Brand" minOccurs="0" form="qualified" type="xi8:Ext00163E05AE661EE390BEDDE385935A15"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E0664D31EE3A1F5AFA6F7B51C62"/>
			<xsd:group name="Ext00163E0664D31EE3A1F5AFF3EF6DDC62">
				<xsd:sequence>
					<xsd:element name="YZExt" minOccurs="0" form="qualified" type="xi8:Ext00163E05AE661EE390BEDE54F588FA15"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E0664D31EE3A1F5AFF3EF6DDC62"/>
			<xsd:group name="Ext00163E06EC581ED3BFAEA2471009779A">
				<xsd:sequence>
					<xsd:element name="mkt_watermark" minOccurs="0" form="qualified" type="xi8:Ext00163E06EC581ED3BFAE9C555CA73799"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581ED3BFAEA2471009779A"/>
			<xsd:group name="Ext00163E06EC581EE3B888BD4D385E8AD7">
				<xsd:sequence>
					<xsd:element name="Committed" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31EE3A3FA6C2D3A6121C5"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BD4D385E8AD7"/>
			<xsd:group name="Ext00163E06EC581EE3B888BDBE650D6AD7">
				<xsd:sequence>
					<xsd:element name="OnTime" minOccurs="0" form="qualified" type="xi8:Ext00163E06EC581EE3A4FB8B0BBC0C726F"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BDBE650D6AD7"/>
			<xsd:group name="Ext00163E06EC581EE3B888BE0A53D24AD7">
				<xsd:sequence>
					<xsd:element name="RRS" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31EE3A4BEEE8CF339F5AC"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BE0A53D24AD7"/>
			<xsd:group name="Ext00163E06EC581EE3B888BE6B4007EB04">
				<xsd:sequence>
					<xsd:element name="RequestbyTaskStatus" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31EE3A4BF1EE0E6BCF627"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BE6B4007EB04"/>
			<xsd:group name="Ext00163E06EC581EE3B888BEB55354EB05">
				<xsd:sequence>
					<xsd:element name="SLA" minOccurs="0" form="qualified" type="xi8:Ext00163E06EC581EE3A4FB731A8074720F"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BEB55354EB05"/>
			<xsd:group name="Ext00163E06EC581EE3B888BEDB7DE3EB05">
				<xsd:sequence>
					<xsd:element name="TotalTradelaneVolume" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31ED3A599120886D9E41F"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BEDB7DE3EB05"/>
			<xsd:group name="Ext00163E06EC581EE3B888BF2957EACB05">
				<xsd:sequence>
					<xsd:element name="Tradelane" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31ED3A3F759349DB877F0"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BF2957EACB05"/>
			<xsd:group name="Ext00163E06EC581EE3B888BF768F008B05">
				<xsd:sequence>
					<xsd:element name="Volume" minOccurs="0" form="qualified" type="xi8:Ext00163E0664D31ED3A3F7E53C909BB9BA"/>
				</xsd:sequence>
			</xsd:group>
			<xsd:attributeGroup name="Ext00163E06EC581EE3B888BF768F008B05"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global">
			<xsd:import namespace="http://sap.com/xi/A1S/Global"/>
			<xsd:element name="MarketeingLeadRequestBundleCheckMaintainQuery_sync" type="xi3:MarketingLeadMaintainRequestBundleMessage_sync"/>
			<xsd:element name="MarketingLeadBundleMaintainConfirmation_sync" type="xi3:MarketingLeadMaintainConfirmationBundleMessage_sync"/>
			<xsd:element name="MarketingLeadBundleMaintainRequest_sync" type="xi3:MarketingLeadMaintainRequestBundleMessage_sync"/>
			<xsd:element name="MarketingLeadRequestBundleCheckMaintainResponse_sync" type="xi3:MarketingLeadMaintainConfirmationBundleMessage_sync"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/Common/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/AP/Common/Global">
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
			<xsd:complexType name="ExchangeFaultData">
				<xsd:sequence>
					<xsd:element name="faultText" type="xsd:string"/>
					<xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
					<xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ExchangeLogData">
				<xsd:sequence>
					<xsd:element name="severity" type="xsd:string" minOccurs="0"/>
					<xsd:element name="text" type="xsd:string"/>
					<xsd:element name="url" type="xsd:string" minOccurs="0"/>
					<xsd:element name="id" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardFaultMessageExtension">
				<xsd:sequence>
					<xsd:element name="Log" type="xi4:Log" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="StandardFaultMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="standard" type="ExchangeFaultData"/>
						<xsd:element name="addition" type="StandardFaultMessageExtension"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/A1S/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/A1S/Global">
			<xsd:import namespace="http://sap.com/xi/AP/CustomerExtension/BYD/A0014"/>
			<xsd:import namespace="http://sap.com/xi/DocumentServices/Global"/>
			<xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
			<xsd:import namespace="http://sap.com/xi/AP/CRM/Global"/>
			<xsd:import namespace="http://sap.com/xi/Common/DataTypes"/>
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
			<xsd:complexType name="LeanLeadMaintainConfirmationBundleLead">
				<xsd:sequence>
					<xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="xi4:ObjectNodePartyTechnicalID"/>
					<xsd:element name="ChangeStateID" type="xi4:ChangeStateID"/>
					<xsd:element name="UUID" type="xi4:UUID"/>
					<xsd:element name="ID" type="xi4:BusinessTransactionDocumentID"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LeanLeadMaintainRequestBundleProspectParty">
				<xsd:sequence>
					<xsd:element name="actionCode" type="xi4:ActionCode" minOccurs="0"/>
					<xsd:element name="AccountUUID" type="xi9:UUID" minOccurs="0"/>
					<xsd:element name="AccountInternalID" type="xi4:BusinessPartnerInternalID" minOccurs="0"/>
					<xsd:element name="AccountExternalKey" type="xi10:LeanLeadRemoteSemanticKey" minOccurs="0"/>
					<xsd:element name="ContactParty" type="LeanLeadProspectPartyContactPartyMaintainBundleRequestMessageDataType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="PartyContactPartyListCompleteTransmissionIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="DefaultContactExternalKey" type="xi10:LeanLeadRemoteSemanticKey" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LeanLeadProspectPartyContactPartyMaintainBundleRequestMessageDataType">
				<xsd:sequence>
					<xsd:element name="ObjectNodeSenderTechnicalID" type="xi4:ObjectNodePartyTechnicalID" minOccurs="0"/>
					<xsd:element name="ContactPersonUUID" type="xi9:UUID" minOccurs="0"/>
					<xsd:element name="ContactPersonInternalID" type="xi4:BusinessPartnerInternalID" minOccurs="0"/>
					<xsd:element name="MainIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="ContactExternalKey" type="xi10:LeanLeadRemoteSemanticKey" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainConfirmationBundleMessage_sync">
				<xsd:sequence>
					<xsd:element name="MarketingLead" type="LeanLeadMaintainConfirmationBundleLead" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Log" type="xi4:Log"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainRequestBundle">
				<xsd:sequence>
					<xsd:element name="ObjectNodeSenderTechnicalID" type="xi4:ObjectNodePartyTechnicalID" minOccurs="0"/>
					<xsd:element name="ChangeStateID" type="xi4:ChangeStateID" minOccurs="0"/>
					<xsd:element name="UUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="ID" type="xi4:BusinessTransactionDocumentID" minOccurs="0"/>
					<xsd:element name="Name" type="xi4:LANGUAGEINDEPENDENT_LONG_Description" minOccurs="0"/>
					<xsd:element name="QualificationLevelCode" type="xi4:LeadQualificationLevelCode" minOccurs="0"/>
					<xsd:element name="OriginTypeCode" type="xi4:CustomerTransactionDocumentOriginTypeCode" minOccurs="0"/>
					<xsd:element name="GroupCode" type="xi4:LeadGroupCode" minOccurs="0"/>
					<xsd:element name="StatusCode" type="xi9:LeadUserStatusCode" minOccurs="0"/>
					<xsd:element name="CampaignPredecessorReferenceID" type="xi4:BusinessTransactionDocumentID" minOccurs="0"/>
					<xsd:element name="EmployeeInternalID" type="xi4:BusinessPartnerInternalID" minOccurs="0"/>
					<xsd:element name="MarketingUnitInternalID" type="xi4:BusinessPartnerInternalID" minOccurs="0"/>
					<xsd:element name="SalesUnitInternalID" type="xi4:BusinessPartnerInternalID" minOccurs="0"/>
					<xsd:element name="Note" type="xi4:LANGUAGEINDEPENDENT_Text" minOccurs="0"/>
					<xsd:element name="UseExistingAccountContactIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="PersonFirstName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="PersonLastName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="PersonMiddleName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="PersonGenderCode" type="xi4:GenderCode" minOccurs="0"/>
					<xsd:element name="PersonAcademicTitleCode" type="xi4:AcademicTitleCode" minOccurs="0"/>
					<xsd:element name="PersonAdditionalAcademicTitleCode" type="xi4:AcademicTitleCode" minOccurs="0"/>
					<xsd:element name="PersonContactAllowedCode" type="xi4:ContactAllowedCode" minOccurs="0"/>
					<xsd:element name="ContactCorrespondenceLanguageCode" type="xi6:LanguageCode" minOccurs="0"/>
					<xsd:element name="ContactNotes" type="xi4:LANGUAGEINDEPENDENT_Text" minOccurs="0"/>
					<xsd:element name="CompanyName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="CompanySecondLineName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="CompanyThirdLineName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="CompanyFourthLineName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="CompanyContactAllowedCode" type="xi4:ContactAllowedCode" minOccurs="0"/>
					<xsd:element name="AccountNotes" type="xi4:LANGUAGEINDEPENDENT_Text" minOccurs="0"/>
					<xsd:element name="Address" type="MarketingLeadMaintainRequestBundleAddress" minOccurs="0"/>
					<xsd:element name="ProspectParty" type="LeanLeadMaintainRequestBundleProspectParty" minOccurs="0"/>
					<xsd:element name="Item" type="MarketingLeadMaintainRequestBundleItem" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Event" type="MarketingLeadMaintainRequestBundleEvent" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="AttachmentFolder" type="xi7:MaintenanceAttachmentFolder" minOccurs="0"/>
					<xsd:group ref="xi0:Ext00163E05AE661EE390BEDBF42B6EFA15"/>
					<xsd:group ref="xi0:Ext00163E0664D31EE3A1F5AFA6F7B51C62"/>
					<xsd:group ref="xi0:Ext00163E0664D31EE3A1F5AFF3EF6DDC62"/>
					<xsd:group ref="xi0:Ext00163E06EC581ED3BFAEA2471009779A"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BD4D385E8AD7"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BDBE650D6AD7"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BE0A53D24AD7"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BE6B4007EB04"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BEB55354EB05"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BEDB7DE3EB05"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BF2957EACB05"/>
					<xsd:group ref="xi0:Ext00163E06EC581EE3B888BF768F008B05"/>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="xi4:ActionCode"/>
				<xsd:attribute name="itemListCompleteTransmissionIndicator" type="xi4:Indicator"/>
				<xsd:attribute name="EventListCompleteTransmissionIndicator" type="xi4:Indicator"/>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainRequestBundleAddress">
				<xsd:sequence>
					<xsd:element name="CountryCode" type="xi4:CountryCode" minOccurs="0"/>
					<xsd:element name="RegionCode" type="xi4:RegionCode" minOccurs="0"/>
					<xsd:element name="StreetPostalCode" type="xi4:PostalCode" minOccurs="0"/>
					<xsd:element name="CityName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="AccountCounty" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="AccountStreetPrefix" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="StreetName" type="xi4:StreetName" minOccurs="0"/>
					<xsd:element name="AccountStreetSufix" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="HouseID" type="xi4:HouseID" minOccurs="0"/>
					<xsd:element name="AccountPOBoxID" type="xi4:POBoxID" minOccurs="0"/>
					<xsd:element name="AccountPhone" type="xi4:LANGUAGEINDEPENDENT_SHORT_Description" minOccurs="0"/>
					<xsd:element name="AccountFax" type="xi4:LANGUAGEINDEPENDENT_SHORT_Description" minOccurs="0"/>
					<xsd:element name="AccountWebsite" type="xi4:WebURI" minOccurs="0"/>
					<xsd:element name="AccountLatitudeMeasure" type="xi4:Measure" minOccurs="0"/>
					<xsd:element name="AccountLongitudeMeasure" type="xi4:Measure" minOccurs="0"/>
					<xsd:element name="AccountCorrespondenceLanguageCode" type="xi6:LanguageCode" minOccurs="0"/>
					<xsd:element name="TelephoneFormattedNumberDescription" type="xi4:LANGUAGEINDEPENDENT_SHORT_Description" minOccurs="0"/>
					<xsd:element name="MobileFormattedNumberDescription" type="xi4:LANGUAGEINDEPENDENT_SHORT_Description" minOccurs="0"/>
					<xsd:element name="EmailURI" type="xi4:EmailURI" minOccurs="0"/>
					<xsd:element name="ContactFunctionalTitleName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="ContactDepartmentName" type="xi4:LANGUAGEINDEPENDENT_MEDIUM_Name" minOccurs="0"/>
					<xsd:element name="ContactEMailUsageDeniedIndicator" type="xi4:Indicator" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainRequestBundleEvent">
				<xsd:sequence>
					<xsd:element name="ObjectNodeSenderTechnicalID" type="xi4:ObjectNodePartyTechnicalID" minOccurs="0"/>
					<xsd:element name="EventSourceCode" type="xi4:LeadEventSourceCode" minOccurs="0"/>
					<xsd:element name="EventTypeCode" type="xi4:LeadEventTypeCode" minOccurs="0"/>
					<xsd:element name="EventAggregateName" type="xi4:LANGUAGEINDEPENDENT_Text" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainRequestBundleItem">
				<xsd:sequence>
					<xsd:element name="ObjectNodeSenderTechnicalID" type="xi4:ObjectNodePartyTechnicalID" minOccurs="0"/>
					<xsd:element name="UUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="ID" type="xi4:BusinessTransactionDocumentItemID" minOccurs="0"/>
					<xsd:element name="Description" type="xi4:SHORT_Description" minOccurs="0"/>
					<xsd:element name="QuantityValue" type="xi4:Quantity" minOccurs="0"/>
					<xsd:element name="ProductUUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="MaterialInternalID" type="xi4:ProductInternalID" minOccurs="0"/>
					<xsd:element name="ServiceProductInternalID" type="xi4:ProductInternalID" minOccurs="0"/>
					<xsd:element name="ProductCategoryInternalID" type="xi4:ProductCategoryInternalID" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="actionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MarketingLeadMaintainRequestBundleMessage_sync">
				<xsd:sequence>
					<xsd:element name="BasicMessageHeader" type="xi4:BusinessDocumentBasicMessageHeader"/>
					<xsd:element name="MarketingLead" type="MarketingLeadMaintainRequestBundle" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/AP/Common/GDT">
			<xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
			<xsd:complexType name="AcademicTitleCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="AcademicTitleCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="AcademicTitleCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ActionCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="01"/>
					<xsd:enumeration value="02"/>
					<xsd:enumeration value="03"/>
					<xsd:enumeration value="04"/>
					<xsd:enumeration value="05"/>
					<xsd:enumeration value="06"/>
					<xsd:length value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessDocumentBasicMessageHeader">
				<xsd:sequence>
					<xsd:element name="ID" type="BusinessDocumentMessageID" minOccurs="0"/>
					<xsd:element name="UUID" type="UUID" minOccurs="0"/>
					<xsd:element name="ReferenceID" type="BusinessDocumentMessageID" minOccurs="0"/>
					<xsd:element name="ReferenceUUID" type="UUID" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="BusinessDocumentMessageID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessDocumentMessageID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessDocumentMessageID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessPartnerInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BusinessTransactionDocumentID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="BusinessTransactionDocumentID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="BusinessTransactionDocumentID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="35"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="BusinessTransactionDocumentItemID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ChangeStateID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CommunicationSystemID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="CommunicationSystemID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="CommunicationSystemID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="60"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ContactAllowedCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CountryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="CustomerTransactionDocumentOriginTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="CustomerTransactionDocumentOriginTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="CustomerTransactionDocumentOriginTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="languageCode" type="xi6:LanguageCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="DocumentCategoryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="DocumentTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="DocumentTypeCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="DocumentTypeCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="5"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="EmailURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="GenderCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="1"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="HouseID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Indicator">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:boolean"/>
			</xsd:simpleType>
			<xsd:simpleType name="IntegerValue">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:int"/>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LANGUAGEINDEPENDENT_Text">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="LeadEventSourceCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LeadEventTypeCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="LeadGroupCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="LeadGroupCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LeadGroupCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="4"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="LeadQualificationLevelCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="LeadQualificationLevelCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LeadQualificationLevelCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Log">
				<xsd:sequence>
					<xsd:element name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode" minOccurs="0"/>
					<xsd:element name="MaximumLogItemSeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
					<xsd:element name="Item" type="LogItem" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItem">
				<xsd:sequence>
					<xsd:element name="TypeID" type="LogItemTypeID" minOccurs="0"/>
					<xsd:element name="CategoryCode" type="LogItemCategoryCode" minOccurs="0"/>
					<xsd:element name="SeverityCode" type="LogItemSeverityCode" minOccurs="0"/>
					<xsd:element name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID" minOccurs="0"/>
					<xsd:element name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
					<xsd:element name="Note" type="LogItemNote"/>
					<xsd:element name="NoteTemplateText" type="LogItemNoteTemplateText" minOccurs="0"/>
					<xsd:element name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList" minOccurs="0"/>
					<xsd:element name="WebURI" type="WebURI" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LogItemCategoryCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="LogItemCategoryCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="LogItemCategoryCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="15"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemNote">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="200"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
				<xsd:sequence>
					<xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
					<xsd:element name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
					<xsd:element name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
					<xsd:element name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID" minOccurs="0"/>
					<xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
					<xsd:element name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
					<xsd:element name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
					<xsd:element name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="LogItemNoteTemplateText">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="73"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemPlaceholderSubstitutionText">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemSeverityCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="1"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTemplatePlaceholderID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:length value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LogItemTypeID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MIMECode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Measure">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="Measure.Content">
						<xsd:attribute name="unitCode" use="required" type="MeasureUnitCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="Measure.Content">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31"/>
					<xsd:fractionDigits value="14"/>
					<xsd:maxInclusive value="99999999999999999.99999999999999"/>
					<xsd:minInclusive value="-99999999999999999.99999999999999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MeasureUnitCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="NOCONVERSION_ObjectID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="NOCONVERSION_ObjectID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="NOCONVERSION_ObjectID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="100"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="NamespaceURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:anyURI">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="ObjectNodePartyTechnicalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="70"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ObjectNodeTechnicalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="70"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="POBoxID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PostalCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcessingResultCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProductCategoryInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="20"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ProductInternalID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="ProductInternalID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="ProductInternalID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PropertyDataTypeFormatCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Quantity">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="Quantity.Content">
						<xsd:attribute name="unitCode" type="MeasureUnitCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="Quantity.Content">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="31"/>
					<xsd:fractionDigits value="14"/>
					<xsd:maxInclusive value="99999999999999999.99999999999999"/>
					<xsd:minInclusive value="-99999999999999999.99999999999999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="RegionCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="RegionCode.Content">
						<xsd:attribute name="listID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listVersionID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="15"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="listAgencySchemeAgencyID" type="xi6:AgencyIdentificationCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="RegionCode.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="6"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="SHORT_Description">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="SHORT_Description.Content">
						<xsd:attribute name="languageCode" type="xi6:LanguageCode"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="SHORT_Description.Content">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="StreetName">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="60"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="UUID.Content">
						<xsd:attribute name="schemeID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="schemeAgencyID">
							<xsd:simpleType>
								<xsd:restriction base="xsd:token">
									<xsd:maxLength value="60"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="UUID.Content">
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36"/>
					<xsd:minLength value="36"/>
					<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="WebURI">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:anyURI"/>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/BASIS/Global">
			<xsd:simpleType name="AgencyIdentificationCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="6"/>
					<xsd:enumeration value="16"/>
					<xsd:enumeration value="17"/>
					<xsd:enumeration value="84"/>
					<xsd:enumeration value="107"/>
					<xsd:enumeration value="109"/>
					<xsd:enumeration value="112"/>
					<xsd:enumeration value="113"/>
					<xsd:enumeration value="114"/>
					<xsd:enumeration value="116"/>
					<xsd:enumeration value="117"/>
					<xsd:enumeration value="124"/>
					<xsd:enumeration value="130"/>
					<xsd:enumeration value="131"/>
					<xsd:enumeration value="138"/>
					<xsd:enumeration value="142"/>
					<xsd:enumeration value="146"/>
					<xsd:enumeration value="262"/>
					<xsd:enumeration value="296"/>
					<xsd:enumeration value="310"/>
					<xsd:maxLength value="3"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="BinaryObject">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>BinaryObject</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleContent>
					<xsd:extension base="xsd:base64Binary">
						<xsd:attribute name="mimeCode" type="MIMECode"/>
						<xsd:attribute name="characterSetCode" type="CharacterSetCode"/>
						<xsd:attribute name="format" type="xsd:token"/>
						<xsd:attribute name="fileName" type="xsd:string"/>
						<xsd:attribute name="uri" type="xsd:anyURI"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:simpleType name="CharacterSetCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="GLOBAL_DateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:dateTime">
					<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="LanguageCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:language">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MIMECode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/DocumentServices/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/DocumentServices/Global">
			<xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
			<xsd:complexType name="MaintenanceAttachmentFolder">
				<xsd:sequence>
					<xsd:element name="UUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="Document" type="MaintenanceAttachmentFolderDocument" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="DocumentListCompleteTransmissionIndicator" type="xi4:Indicator"/>
				<xsd:attribute name="ActionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MaintenanceAttachmentFolderDocument">
				<xsd:sequence>
					<xsd:element name="UUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="LinkInternalIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="VisibleIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="CategoryCode" type="xi4:DocumentCategoryCode" minOccurs="0"/>
					<xsd:element name="TypeCode" type="xi4:DocumentTypeCode" minOccurs="0"/>
					<xsd:element name="MIMECode" type="xi4:MIMECode" minOccurs="0"/>
					<xsd:element name="Name" type="xi4:LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
					<xsd:element name="AlternativeName" type="xi4:LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
					<xsd:element name="InternalLinkUUID" type="xi4:UUID" minOccurs="0"/>
					<xsd:element name="Description" type="xi4:Description" minOccurs="0"/>
					<xsd:element name="ExternalLinkWebURI" type="xi4:WebURI" minOccurs="0"/>
					<xsd:element name="Property" type="MaintenanceAttachmentFolderDocumentProperty" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="FileContent" type="MaintenanceAttachmentFolderDocumentFileContent" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="PropertyListCompleteTransmissionIndicator" type="xi4:Indicator"/>
				<xsd:attribute name="ActionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MaintenanceAttachmentFolderDocumentFileContent">
				<xsd:sequence>
					<xsd:element name="TechnicalID" type="xi4:ObjectNodeTechnicalID" minOccurs="0"/>
					<xsd:element name="BinaryObject" type="xi6:BinaryObject" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="ActionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MaintenanceAttachmentFolderDocumentProperty">
				<xsd:sequence>
					<xsd:element name="TechnicalID" type="xi4:ObjectNodeTechnicalID" minOccurs="0"/>
					<xsd:element name="Name" type="xi4:LANGUAGEINDEPENDENT_Name" minOccurs="0"/>
					<xsd:element name="DataTypeFormatCode" type="xi4:PropertyDataTypeFormatCode" minOccurs="0"/>
					<xsd:element name="VisibleIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="ChangeAllowedIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="MultipleValueIndicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="NamespaceURI" type="xi4:NamespaceURI" minOccurs="0"/>
					<xsd:element name="Description" type="xi4:Description" minOccurs="0"/>
					<xsd:element name="PropertyValue" type="MaintenanceAttachmentFolderDocumentPropertyPropertyValue" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="PropertyValueListCompleteTransmissionIndicator" type="xi4:Indicator"/>
				<xsd:attribute name="ActionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
			<xsd:complexType name="MaintenanceAttachmentFolderDocumentPropertyPropertyValue">
				<xsd:sequence>
					<xsd:element name="TechnicalID" type="xi4:ObjectNodeTechnicalID" minOccurs="0"/>
					<xsd:element name="Text" type="xi4:LANGUAGEINDEPENDENT_Text" minOccurs="0"/>
					<xsd:element name="Indicator" type="xi4:Indicator" minOccurs="0"/>
					<xsd:element name="DateTime" type="xi6:GLOBAL_DateTime" minOccurs="0"/>
					<xsd:element name="IntegerValue" type="xi4:IntegerValue" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="ActionCode" type="xi4:ActionCode"/>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/AP/Extensibility/GeneratedObjects">
			<xsd:simpleType name="Ext00163E05AE661EE390BEDBF42B6D9A15">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E05AE661EE390BEDDE385935A15">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E05AE661EE390BEDE54F588FA15">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31ED3A3F759349DB877F0">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31ED3A3F7E53C909BB9BA">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31ED3A599120886D9E41F">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31EE3A3FA6C2D3A6121C5">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31EE3A4BEEE8CF339F5AC">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E0664D31EE3A4BF1EE0E6BCF627">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="15"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E06EC581ED3BFAE9C555CA73799">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E06EC581EE3A4FB731A8074720F">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="3"/>
					<xsd:fractionDigits value="2"/>
					<xsd:maxInclusive value="9.99"/>
					<xsd:minInclusive value="-9.99"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Ext00163E06EC581EE3A4FB8B0BBC0C726F">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="3"/>
					<xsd:fractionDigits value="2"/>
					<xsd:maxInclusive value="9.99"/>
					<xsd:minInclusive value="-9.99"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/Common/DataTypes" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/Common/DataTypes">
			<xsd:simpleType name="LeadUserStatusCode">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="2"/>
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="EN">
						<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:token">
					<xsd:maxLength value="36"/>
					<xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sap.com/xi/AP/CRM/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/AP/CustomerExtension/BYD/A0014" xmlns:xi1="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi2="http://sap.com/xi/AP/Common/Global" xmlns:xi3="http://sap.com/xi/A1S/Global" xmlns:xi4="http://sap.com/xi/AP/Common/GDT" xmlns:xi6="http://sap.com/xi/BASIS/Global" xmlns:xi7="http://sap.com/xi/DocumentServices/Global" xmlns:xi8="http://sap.com/xi/AP/Extensibility/GeneratedObjects" xmlns:xi9="http://sap.com/xi/Common/DataTypes" xmlns:xi10="http://sap.com/xi/AP/CRM/Global" xmlns="http://sap.com/xi/AP/CRM/Global">
			<xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
			<xsd:complexType name="LeanLeadRemoteSemanticKey">
				<xsd:sequence>
					<xsd:element name="CommunicationSystemID" type="xi4:CommunicationSystemID" minOccurs="0"/>
					<xsd:element name="RemoteObjectID" type="xi4:NOCONVERSION_ObjectID" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MarketingLeadBundleMaintainRequest_sync">
		<wsdl:part name="MarketingLeadBundleMaintainRequest_sync" element="n2:MarketingLeadBundleMaintainRequest_sync"/>
	</wsdl:message>
	<wsdl:message name="MarketingLeadBundleMaintainConfirmation_sync">
		<wsdl:part name="MarketingLeadBundleMaintainConfirmation_sync" element="n2:MarketingLeadBundleMaintainConfirmation_sync"/>
	</wsdl:message>
	<wsdl:message name="StandardFaultMessage">
		<wsdl:part name="StandardFaultMessage" element="n3:StandardFaultMessage"/>
	</wsdl:message>
	<wsdl:message name="MarketeingLeadRequestBundleCheckMaintainQuery_sync">
		<wsdl:part name="MarketeingLeadRequestBundleCheckMaintainQuery_sync" element="n2:MarketeingLeadRequestBundleCheckMaintainQuery_sync"/>
	</wsdl:message>
	<wsdl:message name="MarketingLeadRequestBundleCheckMaintainResponse_sync">
		<wsdl:part name="MarketingLeadRequestBundleCheckMaintainResponse_sync" element="n2:MarketingLeadRequestBundleCheckMaintainResponse_sync"/>
	</wsdl:message>
	<wsdl:portType name="ManageMarketingLeadIn">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem applicationComponent="LOD-LE-MKT-LEA"/>
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsdl:operation name="MaintainBundle">
			<wsdl:input message="tns:MarketingLeadBundleMaintainRequest_sync"/>
			<wsdl:output message="tns:MarketingLeadBundleMaintainConfirmation_sync"/>
			<wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="CheckMaintainBundle">
			<wsdl:input message="tns:MarketeingLeadRequestBundleCheckMaintainQuery_sync"/>
			<wsdl:output message="tns:MarketingLeadRequestBundleCheckMaintainResponse_sync"/>
			<wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="binding" type="tns:ManageMarketingLeadIn">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="MaintainBundle">
			<soap:operation soapAction="http://sap.com/xi/A1S/Global/ManageMarketingLeadIn/MaintainBundleRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StandardFaultMessage">
				<soap:fault name="StandardFaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CheckMaintainBundle">
			<soap:operation soapAction="http://sap.com/xi/A1S/Global/ManageMarketingLeadIn/CheckMaintainBundleRequest" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StandardFaultMessage">
				<soap:fault name="StandardFaultMessage" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="service">
		<wsdl:port name="binding" binding="tns:binding">
			<soap:address location="https://my306029.vlab.sapbydesign.com/sap/bc/srt/scs/sap/managemarketingleadin?sap-vhost=my306029.vlab.sapbydesign.com"/>
		</wsdl:port>
		
	</wsdl:service>
</wsdl:definitions>